.user {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-clip: content-box;
    border: none;
    padding: 5px;
    transition: .5s;
    color: #D7D0BE;
    margin: 5px;
    font-size: 25px;
    background: no-repeat center center;
    background-size: cover;
    z-index: 1000;
}

.user:hover {
    transform: scale(1.2);
}

.hiddenProfile {
    width: 120px;
    height: 20px;
}

.hiddenProfile:hover {
    transform: rotate(180deg);
}