/*
social
 */

.social .link {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px dashed lightgrey;
    background-clip: content-box;
    padding: 4px;
    transition: .5s;
    color: #D7D0BE;
    margin: 5px;
    font-size: 25px;
}

.social .link:hover {
    transform: scale(1.2);
}

/* colors are ordered using /scripts/python/color_sorter.py */

.social .link.github {
    background-color: #000000;
    color: white;
}

.social .link.lastfm {
    background-color: #BA0200;
    color: white;
}

.social .link.instagram {
    background-color: #E44734;
    color: white;
}

.social .link.gitlab {
    background-color: #FC4820;
    color: white;
}

.social .link.reddit {
    background-color: #FC4820;
    color: white;
}

.social .link.soundcloud {
    background-color: #FC561F;
    color: white;
}

.social .link.keybase {
    background-color: #FD6F31;
    color: white;
}

.social .link.strava {
    background-color: #FC5205;
    color: white;
}

.social .link.stackoverflow {
    background-color: #F27F33;
    color: white;
}

.social .link.goodreads {
    background-color: #DBD2BF;
    color: white;
}

.social .link.key {
    background-color: white;
    color: #D7D0BF;
}

.social .link.mail {
    background-color: #8BC35A;
    color: white;
}

.social .link.spotify {
    background-color: #1CD156;
    color: white;
}

.social .link.xing {
    background-color: #056467;
    color: white;
}

.social .link.twitter {
    background-color: #00ACEE;
    color: white;
}

.social .link.linkedin {
    background-color: #0077b5;
    color: white;
}

.social .link.steam {
    background-color: #19445D;
    color: white;
}

.social .link.slideshare {
    background-color: #0077b5;
    color: white;
}

.social .link.stackexchange {
    background-color: #3097E8;
    color: white;
}

.social .link.dev {
    background-color: #08090A;
    color: white;
}

.social .link.dockerhub {
    background-color: #23364B;
    color: white;
}

.social .link.mastodon {
    background-color: #56A7E1;
    color: white;
}

/*
profile pic
 */

.user {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-clip: content-box;
    border: none;
    padding: 5px;
    transition: .5s;
    color: #D7D0BE;
    margin: 5px;
    font-size: 25px;
    background: no-repeat center center;
    background-size: cover;
    z-index: 1000;
}

.user:hover {
    transform: scale(1.2);
}

/*
footer
 */

html, body {
    height: 100%;
}

.table-container {
    display: table;
    height: 100%;
    width: 100%;
}

.table-block {
    display: table-row;
    height: 1px;
}

.footer-push {
    height: auto;
}

#footer {
    font-style: normal;
    font-size: x-small;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 10px;
}

/*
Title font - should equal h4 as defined in skeleton.css.
This is because h4 should not be used as it carries unwanted semantics.
Instead using <h1 class="title">
*/

.title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  .title { font-size: 3.0rem; }
}
