name: Check and generate Preview

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Check HTML
        uses: chabad360/htmlproofer@v1.1
        with:
          directory: .
          arguments: --allow-missing-href --disable-external --check-html
      # Enable when HTML errors fixed
      #- name: Check HTML5
      #  uses: Cyb3r-Jak3/html5validator-action@v0.4.2
      #  with:
      #    root: .
      - name: Generate HTML preview
        id: html_preview
        uses: pavi2410/html-preview-action@v2
        with:
          html_file: 'index.html'
